# --- Postgres ---
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# --- Airflow ---
AIRFLOW_UID=50000
AIRFLOW__CORE__FERNET_KEY=
AIRFLOW__WEBSERVER__SECRET_KEY=change-me-in-production
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin

# --- Kafka ---
KAFKA_BOOTSTRAP_SERVERS=kafka:9092

# --- MLflow ---
MLFLOW_TRACKING_URI=http://mlflow:5000
